<div id="<%= dom_id user_profile %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-3xl mb-1">User profile</strong>
  </div>
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= user_profile.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= user_profile.last_name %>
  </div>
    <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= User.find(user_profile.user_id).email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= user_profile.phone_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile img:</strong>

    <% if user_profile.profile_img.attached? %>
      <%= image_tag user_profile.profile_img.variant(:thumb) %>
    <% else %>
      <%= image_tag "default_profile.jpg", size: "100x100", alt: "Default Profile Image" %>
    <% end %>
    </div>

</div>